.social-nav {
    font-size: 2.5em;

    ul {
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    li {
        display: inline-block;
    }
}
